<!--sin las columnas fijas-->
<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-800">
            <tr>
                <ng-container *ngFor="let column of columns">
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider relative">
                        {{ column.caption ? column.caption : column.dataField }}
                        <button *ngIf="column.showFilter" (click)="column.showFilter = !column.showFilter"
                            class="absolute top-0 right-0 mt-1 mr-2 text-white">
                            <i class="fas fa-filter"></i>
                        </button>
                    </th>
                </ng-container>
                <!-- Check if there is action content -->
                <ng-container *ngIf="hasActions">
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                        Acciones
                    </th>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngFor="let column of columns">
                    <th class="px-6 py-2" *ngIf="column.showFilter">
                        <input [(ngModel)]="filterModel[column.dataField]" (input)="applyFilter()"
                            class="p-2 w-full text-black rounded-md" placeholder="Filter..." />
                    </th>
                    <th *ngIf="!column.showFilter"></th>
                </ng-container>
                <ng-container *ngIf="hasActions">
                    <th class="px-6 py-2"></th>
                </ng-container>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let item of applyFilter()">
                <ng-container *ngFor="let column of columns">
                    <td class="px-6 py-4 whitespace-nowrap">
                        <!-- You can expand here with the ngSwitch for various dataTypes -->
                        {{ item[column.dataField] }}
                    </td>
                </ng-container>
                <!-- Display action content -->
                <ng-container *ngIf="hasActions">
                    <td>
                        <ng-container *ngIf="aoGridActionsTemplate">
                            <ng-container *ngTemplateOutlet="aoGridActionsTemplate; context: {$implicit: item}"></ng-container>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
