<div class="relative flex mb-1">
  
  <!-- <button id="dropdown-button" (click)="toggleDropdown()"
    class="text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 dark:border-gray-700 dark:text-white rounded-l px-4 h-8 focus:ring-1 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
    type="button">
    Select
    <svg class="w-4 h-4 ml-2 inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  
  <div *ngIf="showDropdown"
    class="absolute z-1000 left-0 mt-1  bg-white border border-gray-300 rounded shadow-lg w-56 dark:bg-gray-700">
   
    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
      <li *ngFor="let item of fields" class="hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer px-4 py-2">
        {{ item }}
      </li>
    </ul>
  </div> -->

  <!-- Input -->
  <input #searchInput type="text" (keyup.enter)="onInputChange($event)"
    class="form-input flex-grow sm:text-sm sm:leading-5 border-t border-b border-l border-gray-300 pl-10 h-8 rounded-l-md focus:border-r-0 focus:ring-0"
    placeholder="{{placeholder}}" />

  <!-- Search button -->
  <button (click)="onInputChange({ target: searchInput })" type="submit"
    class="text-sm font-large text-white bg-gray-700 rounded-r-lg border border-blue-700 hover:bg-gray-800 focus:ring-1 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 p-2 h-8">
    <svg class="w-4 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>
  </button>

  <span class="absolute left-2.5 top-1/2 transform -translate-y-1/2 text-gray-400">
    <fa-icon [icon]="faSearch" class="text-gray-700"></fa-icon>
  </span>
</div>